GlobalRedPyme/GlobalRedPyme/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_acciones/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_acciones/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_autenticacion/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_autenticacion/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_catalogo/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_catalogo/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_facturas/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_facturas/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_logs/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_logs/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_productos/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_productos/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_publicaciones/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_publicaciones/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_roles/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_roles/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_usuarios/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_usuarios/migrations/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_historialLaboral/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_historialLaboral/migrations/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_personas/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_personas/migrations/__pycache__/
GlobalRedPyme/apps/PYMES/pymes_empresas/__pycache__/
GlobalRedPyme/apps/PYMES/pymes_empresas/migrations/__pycache__/
GlobalRedPyme/apps/config/__pycache__/
.env